p{
    text-align: center;
    border: 0.2vw solid black;
    background-color: rgb(240, 181, 225);;
}
h2{
    text-align: center;
    border: 0.5vw solid black;
}
nav{
    text-align: center;
}
ul{
border: 0.2vw solid black;
}